version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  log-parser:
    build: ./services/log-parser
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/safeops-logminer
    depends_on:
      - mongodb

volumes:
  mongodb_data:


